# Object files
*.o

# Libraries
*.lib
*.a

serial.txt


# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Binary files
*.elf
*.hex

serial.txt
